Repository BSData/wh40k-killteam, changes with the owners that CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @acebaur, @ohenrik, @cultiststeve, @tekton, @GenWilhelm, @Kohato, @teage-like-league, @amis92, @Penguin20000

Added Dahyak Grekh
  Kroot.cat
Owners: @Penguin20000

Added Fire Teams
  Kroot.cat
Owners: @Penguin20000

Update Grey Knights.cat
  Grey Knights.cat
Owners: @tekton

Moved Kroot Carnivore
  Kroot.cat
  Warhammer 40,000 Kill Team.gst
Owners: @Penguin20000, @BSData/data-admins-wh40k

Update T'au Empire.cat
  T'au Empire.cat
Owners: @amis92

Fixed issue with Stealth specialality
  Kroot.cat
  Warhammer 40,000 Kill Team.gst
Owners: @Penguin20000, @BSData/data-admins-wh40k

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-admins-wh40k
# will be requested for review when someone opens a pull request.
*       @BSData/data-admins-wh40k

# Order is important; the last matching pattern takes the most precedence.

# Aeldari
Drukhari.cat              @FarseerVeraenthis
Harlequins.cat            @FarseerVeraenthis
Asuryani.cat              @FarseerVeraenthis

# Chaos
Heretic\ Astartes.cat    @Mad-Spy
Thousand\ Sons.cat       @Mad-Spy
Death\ Guard.cat         @Mad-Spy
Gellerpox\ Infected.cat	 @Mad-Spy
Servants\ of\ the\ Abyss.cat  @Mad-Spy

# Imperium
Adeptus\ Astartes.cat    @acebaur
Adeptus\ Mechanicus.cat  @ohenrik
Astra\ Militarum.cat     @cultiststeve
Deathwatch.cat           @acebaur
Grey\ Knights.cat        @tekton
Elucidian\ Starstriders.cat	@GenWilhelm

# Other Xenos
Genestealer\ Cults.cat   @GenWilhelm
Necrons.cat              @Kohato
Orks.cat                 @teage-like-league
T?au\ Empire.cat         @amis92  
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Tyranids.cat             @GenWilhelm
Kroot.cat                @Penguin20000
